/*Class to help us visualize the grid*/
body {
	padding: 0;
	margin: 0;
}

.boxHelper
{
	color: #fff;
	background-color: #000;
	text-align: center;
}

.home-row{
	background-image: url(../images/bg_me.jpg);
	background-size: cover;
  height: 100vh;
	display: flex;
	align-items: center;
}

.home-banner {
	max-width: 400px;
	color: #d3a9ab;
}

h1 { /* This is a tag name so this style rule will apply to all tags of this name */

}

.about-me, .featured, .contact {
	display: flex;
	min-height: 200px;
	height: auto;
	flex-wrap: wrap;
}

.pink-boxes {
	background-color: #d3a9ab;
	color: #ffffff;
}

.underline {
	text-decoration: underline;
	font-family: sans-serif;
}

.big {
	font-weight: 900;
	font-size: 60px;
	font-style: oblique;
}

.italic {
	font-family: cursive;
}

.text-description {
	background-color: #255d6e;
	color: #fff;
	padding: 20px 3%;
	/* padding to push the content of the div inside a little */
}

.description-title {
	line-height: 2;
	border-bottom: 1px solid #fff;
}

.services .columns {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #d3a9ab;
    margin: auto;
    cursor: pointer;
}

.section-title {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.contact-form label {
	color: #fff;
	font-size: 20px;
}

/* this class is from foundation css / overrite to 100% */

.row {
	max-width: 100%;
}
.is-accordion-submenu-parent>a::after{
    color: #d3a9ab;
}
.menu-top{
    position: absolute;
    top: 0;
    right: 0;
    color: #d3a9ab;
}
.menu>li>a{
    padding-right: 3rem;
    color: #d3a9ab;
}

/*Lightbox css*/

.lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	z-index: 500;
}

.close-lightbox {
	float:right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
}

.lightbox-img {
	display: block;
}
*{
    font-family: 'Libre Baskerville', serif;
}
